* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --b1Red: #eb2012;
    --b1yallow: #E3D300;
    --b1Black: #0B0B0A;
    --b1Yallow: #F2F0EB;
    --b1Gray: #A7A49E;
    --fontPrim: "Syne", sans-serif;
    --fontSecun: "Quicksand", sans-serif;
}

.espaco {
    padding: 1rem 2rem;
}

body {
    font-family: var(--fontSecun);
    font-weight:600;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        width: 15rem;
    }
}

.superior,
.inferior {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-sup,
.box-inf {
    width: 100%;
    height: 100%;
    background: var(--b1yallow);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
    
}

.titulo-hero {
    font-family: var(--fontPrim);
    text-transform: uppercase;
    font-size: clamp(5.5rem, 9vw, 10vw);
    padding-bottom: .5rem;
    font-weight: 800;
    color: var(--b1Red);
    z-index: -5;
}

.hero-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 34rem;
    overflow: hidden;
    img {
        object-fit: cover;
        height: 100%;
    }
}

.text-hero {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:1.5rem 0 0 0;
    p {
        font-size: 1.1rem;
        z-index: -5;
    }       
}
